@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Estilização geral das páginas */

*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    max-height: 80vh;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    gap: 1vw;
}


nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 70px;
}

.nav-item{
    text-decoration: none;
    color: #FFFFFF;
    transition: all ease .5s;
}

.nav-item:hover{
    color: #4A91FF;
}

.selected-item-nav{
    color: #4A91FF;
}

nav > ul{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin: 5vh;
    list-style-type: none;
    font-family: 'Inter',sans-serif;
}

.icone{
    color: white;
}

.btn{
    border: 1px solid #4A91FF;
    border-radius: 20px;
    background-color: transparent;
    height: 35px;
    width: 150px;
    transition: all ease .5s;
    row-gap: 30px;
}

.btn > a{
    display: flex;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    background-color: #4A91FF;   
}

#btn-projetos{
    margin-right: 2vh;
}

/* Index */

.titulo, .sub-titulo, .texto-sobre-nos,.titulo-projeto,.descricao-projeto{
    color: white;
    font-family: 'Inter',sans-serif;
}

main > section > div{
    padding: 0vh 0vh 6vh;
}

.titulo{
    font-size: 80px;
    letter-spacing: -3%;
    line-height: 90%;
    padding: 0vh 0vh 2vh;
}

.sub-titulo{
    font-size: 30px;
    font-style: normal;
    letter-spacing: 20px;
}

main > section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10vw;
    flex-direction: column;
}

/* sobre nos */

.bg-sobrenos,.bg-projetos{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bg-sobrenos > section, .bg-projetos > section{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vw;
    flex-direction: column;
    gap: 5vh;
    width: 40vw;
}

/* Projetos */

.cards-list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.card-content{
    height: 300px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.titulo-projeto{
    top: 1vh;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

.descricao-projeto{
    font-size: 14px;
    font-weight: 100;
}