@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Estilização geral das páginas */

*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Inter;
}

header{
    padding: 2vh;
}

main{
    max-height: 80vh;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
    gap: 1vw;
}


nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 70px;
}

.nav-item{
    text-decoration: none;
    color: #FFFFFF;
    transition: all ease .5s;
}

.nav-item:hover{
    color: #4A91FF;
}

.selected-item-nav{
    color: #4A91FF;
}

nav > ul{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin: 5vh;
    list-style-type: none;
    font-family: 'Inter',sans-serif;
}

.icone{
    color: white;
}

.btn{
    border: 1px solid #4A91FF;
    border-radius: 20px;
    background-color: transparent;
    height: 35px;
    width: 150px;
    transition: all ease .5s;
    row-gap: 30px;
}

.btn > a{
    display: flex;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    background-color: #4A91FF;   
}

#btn-projetos{
    margin-right: 2vh;
}

/* Index */

.titulo, .sub-titulo, .texto-sobre-nos,.titulo-projeto,.descricao-projeto{
    color: white;
    font-family: 'Inter',sans-serif;
}

main > section > #div-titulo-sub{
    padding: 0vh 0vh 6vh;
}

.titulo{
    font-size: 80px;
    letter-spacing: -3%;
    line-height: 90%;
    padding: 0vh 0vh 2vh;
}

.sub-titulo{
    font-size: 30px;
    font-style: normal;
    letter-spacing: 20px;
}

main > .index-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

/* sobre nos */

.bg-sobrenos,.bg-projetos{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bg-sobrenos > section, .bg-projetos > section{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
    width: 40vw;
}

/* Projetos */

.cards-list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.card-content{
    height: 300px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-info{
    margin-top: 20px;
}

.titulo-projeto{
    top: 1vh;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

.descricao-projeto{
    font-size: 14px;
    font-weight: 100;
}

/* Serviços */

.section-container{
    height: 100%;
    display: flex;
    justify-content: center;
}

.neon-icon-shield{
    color: #4A90FF; 
    font-size: 5rem;
    text-shadow: 
        0 0 5px #4A90FF,
        0 0 10px #4A90FF;
}

/* Contato */

.form-container > h1{
    font-size: 8vw;
    padding: 0;
}

#form-section{
    display: flex;
    height: 100vh;
}

.form-container{
    display: flex;
    height: 91vh;
    align-items: center;
    justify-content: center;
    gap: 8vw
}

form{
    display: flex;
    flex-direction: column;
    color:white;
}

form input, select, textarea{
    border: 1px solid #d4d4d4 20%;
    border-radius: 7px;
    background-color: transparent;
    transition: all ease .5s;
    color: #ffffff;
    font-family: Inter;
    padding: 12px;
    margin-bottom: 18px;
}

label{
    padding-bottom: 1vh;
}

.form-row{
    display: flex;
    justify-content:space-between;
}

.form-input{
    display: flex;
    flex-direction: column;
    width: 48%;
}

#sexo{
    height: 48px;
}

#sexo > option{
    color: #003b9b;
}

.checkbox-container{
    margin-bottom: 5vh;
}

.checkbox-container > input{
    margin-bottom: 0vh;
}

#form-button{
    border-radius: 30px;
    background-color: #595959;
    height: 50px;
    width: 220px;
    color: #FFFFFF;
}

#form-button:hover{
    border: 1px solid #4A91FF;
    border-radius: 30px;
    background-color: #4A91FF;
    height: 50px;
    width: 220px;
    transition: all ease .5s;
    color: #FFFFFF;
}

/* ARTIGOS */

#titulo-artigos{
    color: white;
}

.main-artigos{
    height: 100%;
}

.pg-artigos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
}

.sessao-artigos{  
    width: 63.33vw;
    height: 55.5vh;
    display: flex;
    align-items: center;

    border-radius: 30px;
    background-color: white;
}

.container-artigos{
    display: flex;
    padding: 7%;
    gap: 8%;
}

.article-artigos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.article-artigos > h2{
    font-size: 3.5em;
    padding-bottom: 2%;
}

table  {
    font-size: 0.8em;
    border: transparent;
    padding-top: 2%;
}

td{
    padding: 2% 4%;
}

#tr-1{
    background-color: #0047FF;
}

#tr-2{
    background-color: #E1E1E1;
}

.image-artigos{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-artigos > img {
    width: 100%;
    height: 100%;
}